<div class='p-2 px-8 bg-primary border-y border-slate-700' >
    <!--<form action="sent_msg" method="post" class="flex flex-row">-->
        <input id="chat_input" type="text" class="bg-tertiary border border-slate-600 h-10 pl-4 rounded-lg w-1/2" placeholder="type">
        <button id="chat_submit" class="bg-tertiary border border-slate-600 h-10 px-2 rounded-lg ">send</button>
    <!--</form> -->
</div>  