<aside class="flex flex-col overflow-auto w-16  h-screen bg-secondary" aria-label="Sidebar">

    <button class='my-2 mx-auto bg-tertiary w-12 h-12 border-2 rounded-full border-blue-500'>icon</button>


    <hr class="w-10 h-0.5 border-blue-800 bg-blue-800 self-center " />


    <button class='my-2 mx-auto bg-tertiary w-12 h-12 hover:rounded-lg rounded-full border-2 border-pink-600'>fe</button>

</aside>